main {
  h2 {
    text-shadow: 0 0 5px;
  }

  #buttonsContainer {
    display: contents;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

  #jsonRandom {
    max-width: 100%;
    height: fit-content;
    margin: 20px;
    padding: var(--padding-common);

    color: var(--color-white);
    background-color: #7e7e7e;

    border: 3px solid var(--color-white);
    border-radius: 10px;
    word-wrap: break-word;
  }

  .posts em {
    text-shadow: 0 0 12px var(--color-black);
  }

  .comments em {
    text-shadow: 0 0 3px var(--color-text-highlight);
  }
  .photos em,
  .albums em {
    text-shadow: 0 0 3px var(--color-secondary);
  }

  .todos em {
    text-shadow: 0 0 3px var(--color-primary);
  }

  .users em {
    text-shadow: 0 0 3px var(--color-white);
  }
}
